[Unit]
Description=HPS Music Player Daemon
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/hps_music_player
Restart=on-failure
RestartSec=2
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target