[Unit]
Description=HPS Music Player Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/hps_music_player
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target